/* Estilos tipografía */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


/* Estilos para el bloque header */
.header {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    padding-left: 2rem;
    border-bottom: 2px solid #CCCCCC;
}

.header__logo-image {
    height: 55px;
    width: 55px;
    border-radius: 10%;
    box-shadow: 0px 4px 4px #726d6d;
    margin-right: 20px;
}

.header__text {
    display: flex;
    align-items: center;
    color: #171717;
    font-size: 20px;
    margin-right: 20px;
}

/* Estilo para el bloque section */
.section-título {
    color: #171717;
    padding-left: 2rem;
    font-size: 24px;
}

/* Estilos generales para la card-grande */
.card {
    padding-left: 2rem;
    width: 100%;
}

.card__image {
    width: 580px;
    height: auto;
    border-radius: 20px;
}

.card__text {
    font-size: 18px;
    color: #171717;
}
.card__title {
    font-size: 24px;
    color: #171717;
}

.card__item {
    display: flex;
    align-items: center;
}

.card__item-logo-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card__item-logo-text {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #171717;
}

/* Estilos generales para la card-horizontal */
.card__horizontal {
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;  

}

.card__horizontal-image {    
    width: 180px;
    height: auto;
    border-radius: 20px;
    margin-right: 10px;
}


.card__horizontal-text {
    font-size: 16px;
    color: #171717;
    flex-direction: column;
    display: flex;

}

.card__horizontal-title {
    font-size: 20px;
    color: #171717;
}

.cardhorizontal__item {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.cardhorizontal__item-logo-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.cardhorizontal__item-logo-text {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #171717;
}

.border__line {
    border-bottom: 3px solid #CCCCCC;
}

.card__horizontal-image-mediana {
    width: 290px;
    height: auto;
    border-radius: 20px;
    margin-right: 10px;
}

/* Estilos generales para la card-mediana */
.card__mediana {
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
}

/* Estilos generales para box */
.box {
    margin: 10px;
    width: 18%;
    height: 65px;
    border-radius: 5px;
}

.box__image {
    height: 100%;
    position: relative;
    float: left;

}

.box__title {
    font-size: 32px;
    position: relative;
    text-align: right;
    padding-top: 1rem;
    margin-right: 30px;
    color: #fff;

}

.html {
    background-color: #E93E30;
}

.css {
    background-color: #299ED5;
}

.js {
    background-color: #F7E018;
}

.react {
    background-color: #292C33;
}

.vue {
    background-color: #67C770;
}

.bootstrap {
    background-color: #563D7C;
}

/* Estilos generales para footer */
.footer {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    padding-left: 2rem;
    border-bottom: 2px solid #CCCCCC;
}

.footer__logo-image {
    height: 55px;
    width: 55px;
    border-radius: 10%;
    box-shadow: 0px 4px 4px #726d6d;
    margin-right: 20px;
}

.footer__text {
    display: flex;
    align-items: center;
    color: #171717;
    font-size: 20px;
    margin-right: 20px;
}

.footer__text-secundario {
    display: flex;
    color: #171717;
    font-size: 20px;
}