/* Estilos tipografía */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  /* Estilos color */
.color-black {
    color: #000000;
}

.color-red {
    color: #E93E30;
}

.color-yellow {
    color: #F7E018;
}

.color-blue {
    color: #299ED5;
}

.color-gris {
    color: #292C33;
}

.color-green {
    color: #67C770;
}

.color-purple {
    color: #563D7C;
}

/* Estilos para el bloque header */
.header {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    padding-left: 5rem;
    border-bottom: 2px solid #CCCCCC;
}

.header__logo-image {
    height: 55px;
    width: 55px;
    border-radius: 10%;
    box-shadow: 0px 4px 4px #726d6d;
    margin-right: 20px;
}

.header__text {
    display: flex;
    align-items: center;
    color: #171717;
}

/* Estilo para el bloque section */
.section-título {
    color: #171717;
    padding-left: 5rem;
}

/* Estilos generales para la card-grande */
.card {
    padding-left: 5rem;
    width: 800px;
}

.card__image {
    width: 603px;
    height: 310px;
    border-radius: 20px;
}

.card__text {
    size: 18px;
    color: #171717;
}
.card__title {
    size: 24px;
    color: #171717;
}

.card__item {
    display: flex;
    align-items: center;
}

.card__item-logo-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card__item-logo-text {
    size: 24px;
    display: flex;
    align-items: center;
    color: #171717;
}

/* Estilos generales para la card-horizontal */
.card__horizontal {
    width: 540px;
    padding-left: 5rem;
}

.card__horizontal-image {    
    width: 189px;
    height: 135px;
    border-radius: 20px;
}


.card__horizontal-text {
    size: 16px;
    color: #171717;
}

.card__horizontal-title {
    size: 20px;
    color: #171717;
}

.cardhorizontal__item {
    display: flex;
    align-items: center;
}

.cardhorizontal__item-logo-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.cardhorizontal__item-logo-text {
    size: 16px;
    display: flex;
    align-items: center;
    color: #171717;
}